# Common
[init]
	defaultBranch = main
[user]
	name = Daniel Braun
	email = 7925710+braun-daniel@users.noreply.github.com
[pull]
	ff = only
	rebase = false
[push]
    autoSetupRemote = true

# If azuredevops folder exists, include its .gitconfig
[includeIf "gitdir:~/git/azuredevops/"]
    path = ~/git/azuredevops/.gitconfig

# Git-Diff-So-Fancy
[core]
    pager = diff-so-fancy | less --tabs=4 -RF
	autocrlf = input
[interactive]
    diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	func = 146 bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse

# Signing
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers

# VSCode
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

# OSX Keychain integration
[credential]
    helper = osxkeychain